.header {
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);
}

.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header_logo {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: red;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
